__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.DS_Store
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
node_modules/
*.log
.env.*

sbom.json
cmd.txt
semgrep_verbose_output.txt
gitleaks_report*
bandit_report.json
semgrep_full*
SBOM-*.json
delet*


# Terraform local variable files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Terraform working directories and plans
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/bootstrap/output.txt
infra/envs/dev/terraform.tfvars
infra/envs/prod/terraform.tfvars
infra/envs/staging/terraform.tfvars
infra/envs/*/*.auto.tfvars
!infra/envs/*/terraform.tfvars.example
.terraform/
bandit_report.json
semgrep_full_scan.json
gitleaks_report_full.csv
sbom.json
*.zip
*artifacts
.env.example
errored.tfstate

terraform-dev.yml
.terraform.lock.hcl